.customer-order-form input[type='number'],
.customer-order-form input[type='text'],
.customer-order-form input[type='email'],
.customer-order-form select {
    width:100%;
}

.customer-order-form .ng-invalid {
  border-left: 5px solid #a94442;
}

.customer-order-form .ng-valid {
  border-left: 5px solid #42A948;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
